<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject]
    private LocalStorageService LocalStorageService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        List<Exercise> Exercises = new List<Exercise>()
        {
            new Exercise{Name = "exercise1"},
            new Exercise{Name = "exercise2"},
            new Exercise{Name = "exercise3"},
            new Exercise{Name = "exercise4123123"},

        };
        List<Workout> Workouts = new List<Workout>()
        {
            new Workout{Id = 1, Name = "Workout1", Difficulty = "25", Exercises = new List<Exercise>(){ new Exercise{Name = "exercise1"}} },
            new Workout{Id = 2, Name = "Workout2", Difficulty = "50", Exercises = new List<Exercise>(){ new Exercise{Name = "exercise2"}} },
            new Workout{Id = 3, Name = "Workout3", Difficulty = "75", Exercises = new List<Exercise>(){ new Exercise{Name = "exercise3"}} },

        };
        await LocalStorageService.SeedDataAsync("exercises",Exercises);
        await LocalStorageService.SeedDataAsync("workouts",Workouts);
    }
}
